.card {
    margin: 10px;
}

.container-style {
    width: 100%;
    margin-top: 20;
}

.card-body{
    background-color: #f5f5dc;
    
}

.card-title{
    background-color: beige;
    color: grey;
    text-align: center;
}

