/*.color-nav {
    background-color: rgba(255, 255, 255, 0.15);
}*/

.navbar {
    display: inline-block;
    float: none;
}

.container {
    justify-content: center;
}


/*
https://stackoverflow.com/questions/18777235/center-content-in-
responsive-bootstrap-navbar
*/