.background {
    background-color: lightsteelblue;
}

.home-title {
    font-size: 7vh;
    position: relative;
    left: 150px;
    top: 300px;
    color: palevioletred;
}

.background-img {
    background-image: url('../profilepics/background2.jpg');
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-title {
    font-size: xx-large;
    text-align: center;
}
.descr {
    text-align: center;
    padding: 10px;
}

.gitlab {
    margin-top: 10pt;
    margin-bottom: 10pt;
    padding: 10px;
}

h2{
    text-align: center;
    font-size: large;
}